p.intro {
  font-style: italic;
  font-size: 30px;
  width: 80%;
}
h1.intro {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
h2.intro {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  border: dashed 3px;
  width: 50%;
}
img.intro {
  margin: 10px 0 10px 100px;
  width: 50%;
}
